# Ignore everything
*

# Allow exceptions for essential static site files
!index.html
!about.html
!consulting.html
!support.html
!outsourcing.html
!industries.html
!contact.html
!style.css
!main.js
!Logo.png
!.gitignore
